.check { background-color: #9e9; }
.cross { background-color: #e99; }

#left {
    display: none;
}

#contents {
    float: none;
}

.rule-box {
    font-size: 8pt;
}

@media (min-width: 550px) { /*Skeletons default grid-activation width*/
    .rule-box {
        font-size: inherit;
    }

    #contents {
        float: inherit;
    }
}

@media (min-width: 960px) {
    #toc {
        width: 250px;
    }

    #left {
        display: inherit;
    }
}

@media (min-width: 1380px) { /*Skeletons default grid-activation width*/


    #toc {
        width: 400px;
    }
}


#toc ul { list-style: none; margin-left: 1.5rem; }
#toc > ul { list-style: none; margin-left: 0; }

/** TOC > Help contact */
#toc-container #help-contact {
    font-size: 10pt;
    text-align: center;
}

#toc-container #help-contact p {
    margin-bottom: 0.5rem;
}

#toc-container #help-contact ul li {
    list-style: none;
    display: inline;
    margin-right: 1.2rem;
}

#toc-container #help-contact a.emoji {
    text-decoration: none;
}

/** Header links */

.has-headerlink {
    position: relative;
}

.headerlink {
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    bottom: 8px;
    position: absolute;
}

.has-headerlink .headerlink {
    display: none;
}

.has-headerlink:hover .headerlink {
    display: inline;
}

/* *** */
html {
  height: 100%;
  font-family: sans-serif;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
}
.fl-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#left {
  flex-shrink: 0;
}
#right {
    width: 100%;
}
.top-left {
  flex-shrink: 0;
  padding: 20px;
}
.top-right {
  display: inline-flex;
  flex-shrink: 0;
  padding: 20px;
}
.bottom {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}
.top-right ul{
  display: inline-flex;
  list-style: none;
  margin: 0;
}
.top-right li{
  margin-right: 20px;
}
.three-quarter.column {
    max-width: 960px;
}

#toc-container, #contents {
    margin-top: 20px;
}

.marked {
    font-weight: bold;
}

/** Try it examples */

.example {
    position: relative;
}

.example .try-it {
    position: absolute;
    top: 10px;
    right: 10px;
}

.highlight {
    overflow-x: scroll;
}

.table-container {
    overflow-x: scroll;
}

/** Tables */
td.check, td.cross {
    text-align: center;
}


.types-table th:last-child,
.types-table td:last-child {
    padding: 12px 15px;
}


/** types */

dt { font-weight: bold; }

.inline-list > li {
    display: inline;
}

/** Semantics html from hevea */

.rules table td
{
    border-bottom: none;
}

.rules table td.hbar {
    border-bottom: 2px solid #222;
    padding: 0;
}

.rules .dcell {
    padding: 0;
}

.rules td {
    text-align: left ! important;
}

.rules span {
    text-style: normal ! important;
}

.rules table {
    margin-bottom: 0;
}


.rules table td {
    padding: 0;
}


.rules table.display {
    margin-bottom: 0.25em;
}

/* sic ;) */
.rules table.cellpading0 {
    border-spacing: 0 ! important;
}


/** raise rule names a bit */
div.rule-box > table > tbody > tr > td > table > tbody > tr > td {
    position: relative;
}

div.rule-box > table > tbody > tr > td > table > tbody > tr > td > span {
    position: absolute;
    bottom: 23px;
}


/** Containing rule box */

details.rules {
    margin: 10px 0;
}

.rule-box {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    background-color: #bcf;

    margin: 10px 0;
}

/* images and stuff in documentation */

object {
    margin: 0 auto 2.5em auto;
    display: block;
}

/* tables */

table.docutils > thead > tr > th {
    text-align: center;
    padding: 12px 15px;
}

table.docutils > tbody > tr > td:nth-child(1),
table.docutils > tbody > tr > td:nth-child(2) {
    text-align: right;
}
