{% macro pp_rule(rule) %}
{# }<pre>#}
{# } 	{% for p in rule.premises %}{{ p }} #}
{# } 	{% endfor %}------------------ {{ rule.name }} #}
{# } 	{{ rule.conclusion }} #}
{# </pre>#}
{% include "rules/" ~ rule.name ~ ".standalone.html" %}
{%- endmacro %}

{% macro show_example(url, code, ranges, storage, parameter) %}
<div class="example">
    <div class="try-it">
        <a target="_blank" href="{{url}}/?storage={{storage|urlencode}}&parameter={{parameter|urlencode}}&source={{code|urlencode}}">try it!</a>
    </div>
    {{code|keep_lines(ranges)|pp_michelson}}
</div>
{%- endmacro %}

{% macro linkable_header(level, title, name, typeName) %}
<h{{level}} class="has-headerlink"><a name="{{name}}"></a>{{title}} <a class="headerlink" href="#{{name}}" title="Permalink to this {{typeName}}">¶</a></h{{level}}>
{%- endmacro %}

{% macro bool_to_check_cell(b) %}
{% if b == True %}
<td class="check"><span>✔</span></td>
{% elif b  %}
<td class="check"><span>{{b}}</span></td>
{% else %}
<td class="cross"><span>✘</span></td>
{% endif %}
{%- endmacro %}

{% macro link_first_word(url, string) %}<a href="{{url}}">{{string.split(" ")[0]}}</a> {{" ".join(string.split(" ")[1:])}}{%- endmacro %}

{% macro url_instr(op) %}instr-{{op}}{%- endmacro %}
{% macro url_type(ty) %}type-{{ty}}{%- endmacro %}
{% macro url_example(ex) %}example-{{ex.slug}}{%- endmacro %}

{% macro link_instr(op) %}<a href="#{{url_instr(op.op)}}">{{op.op_args}}</a>{%- endmacro %}
{% macro link_type(ty) %}<a href="#{{url_type(ty.ty)}}">{{ty.ty_args}}</a>{%- endmacro %}

{% macro quick_ref_tbl(instructions) %}
<table>
	<thead>
		<tr>
			<th>Instruction</th>
			<th>Description</th>
			<th colspan="3">Stack effect</th>
		</tr>
	</thead>
	<tbody>
        {% for instr in instructions %}
        <tr>
            <td><code>{{ link_first_word("#" ~ url_instr(instr.op), instr.op_args) }}</code></td>
            <td>{{instr.documentation_short|rst_inline}}</td>
			{% if instr.stack_effect %}
             {# <td colspan=3>
                <table>
                    {% for se in instr.stack_effect %}
                    <tr><td><code>{{ se[0] }}</code></td><td>&mdash;</td><td><code>{{ se[1] }}</code></td></tr>
                    {% endfor %}
                </table>
               </td> #}
            <td colspan=3>
                {% for se in instr.stack_effect %}
                <code>{{ se[0] }}</code> &mdash; <code>{{ se[1] }}</code><br/>
                {% endfor %}
            </td>
			{% else %}
             <td colspan="3"></td>
			{% endif %}
        </tr>
        {% endfor %}
	</tbody>
</table>
{%- endmacro %}

{% macro quick_ref_tbl_ty(types, attrs) %}
<table class="types-table">
	<thead>
		<tr>
            <th>Type</th>
			<th>Description</th>
            <th>Examples</th>
            {% for a in attrs %}
            <th><abbr title="{{a[1]}}: {{a[3]}}">{{a[2]}}</abbr></th>
            {% endfor %}
        </tr>
	</thead>
	<tbody>
        {% for type in types %}
        <tr>
            <td><code>{{ link_first_word("#" ~ url_type(type.ty), type.ty_args) }}</code></a></td>
            <td>{{type.documentation_short|rst_inline}}</td>
            <td>
                 {% if 'examples' in type %}
                 {# {{type.examples|pprint}} #}
                 {% for ex in type.examples %}
                 {# {{ ex | pprint }} #}
                 <code> {% if ex[0]|string|length > 22 %}<abbr title="{{ex[0]}}">{{(ex[0]|string)[0:22]}}...</abbr>{% else %} {{ ex[0] }} {% endif %}</code>
                 {% if not loop.last %},  {% endif %}
                 {% endfor %}
                 {% else %}
                 &mdash;
                 {% endif %}
             </td>
            {% for a in attrs %}
            {{ bool_to_check_cell(type[a[0]]) }}
            {% endfor %}
        </tr>
        {% endfor %}
	</tbody>
</table>
{%- endmacro %}


